@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Helvetica';
        src: url('../fonts/Helvetica/Helvetica.ttf');
    }
    @font-face {
        font-family: 'Helvetica-Light';
        src: url('../fonts/Helvetica/Helvetica-Light.ttf');
    }
    @font-face {
        font-family: 'Helvetica-Bold';
        src: url('../fonts/Helvetica/Helvetica-Bold.ttf');
    }

    .Helvetica {
        @apply font-hNormal;
    }
    .Helvetica-Light {
        @apply font-hLight;
    }
    .Helvetica-Bold {
        @apply font-hBold;
    }

  body {
        @apply font-hNormal text-normal;
    }
    h1,.h1 {
        @apply font-hBold text-5xl leading-tight;
    }
    h2,.h1 {
        @apply font-hBold text-4xl leading-tight;
    }
    h3,.h3 {
        @apply font-hBold text-xl sm:text-2xl leading-tight;
    }
    h4,.h4 {
        @apply font-hBold text-xl sm:text-2xl leading-tight;
    }
    h5,.h5 {
        @apply font-hBold text-xl sm:text-2xl leading-tight;
    }
    h6,.h6 {
        @apply font-hBold text-base leading-tight;
    }
    a,.a {
        @apply no-underline;
    }
    .button {
        @apply rounded bg-neutral-700 px-4 py-1 text-white hover:bg-neutral-900 inline-block;
    }
}

@layer components {
  .text-small {
        @apply text-xs leading-7;
    }
    .text-normal {
        @apply text-base leading-normal;
    }
    .text-large {
        @apply Helvetica-Light text-xl font-light;
    }
  .content {
        @apply mx-auto max-w-5xl px-5;
    }
    .title {
        @apply text-red-700 leading-none mt-4 lg:mt-0;
    }
  .form-error-message {
        @apply text-error text-small italic leading-normal;
    }
    .error-message {
        @apply bg-error-100 border-t border-b border-error-500 text-error-700 px-4 py-3 mb-12;
    }
    .success-message {
        @apply bg-success-100 border-t border-b border-success-500 text-success-700 px-4 py-3 mb-12;
    }
    .warning-message {
        @apply bg-warning-100 border-t border-b border-warning-500 text-warning-700 px-4 py-3 mb-12;
    }
    .modal-bg {
        @apply fixed top-0 bottom-0 left-0 right-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none p-0;
    }

    .small-modal-box {
        @apply pointer-events-none relative flex flex-col min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[480px];
    }

    .modal-box {
        @apply pointer-events-none relative flex flex-col min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[590px];
    }

    .big-modal-box {
        @apply pointer-events-none relative flex flex-col min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[764px];
    }
    .modal-shadow {
        @apply pointer-events-auto relative flex w-full flex-col gap-2.5 border-none bg-white bg-clip-padding p-2.5 text-current shadow-lg outline-none ;
    }
    .modal-container {
        @apply items-center justify-center border border-black text-center p-6 md:p-16;
    }

    .modal-backBtnContainer {
        @apply h-12 w-full bg-white flex justify-start items-center;
    }
    .modal-backBtn {
        @apply no-underline cursor-pointer text-blue-300;
    }
    .modal-backIco {
        @apply ml-[24px] mr-[10px] md:mr-[20px];
    }

  /*header*/
  .header {
    @apply mt-4 mb-8 grid lg:grid-cols-3 gap-4 border-b-2 border-solid border-black pb-4;
  }
  .logo {
    @apply flex items-center justify-center lg:justify-start;
  }
  .login {
    @apply lg:col-span-2;
  }
  .container-user{
        @apply flex flex-col md:flex-row lg:col-span-2 gap-3 pt-[3px] md:place-content-center lg:place-content-end place-content-start;
        span {
            @apply inline-block
        }
    }
    .container-user-form{
        @apply flex flex-col md:flex-row gap-3 pt-[3px] md:place-content-center lg:place-content-end place-content-start;
    label {
      @apply block md:hidden mb-1;
    }
    }
    .form-control{
        @apply rounded-md border px-2 py-1 border-black;
    }
  /*header*/

  /*videeolist*/
  .video-list {
    @apply space-y-6 sm:space-y-12;
  }
  .video-item {
    @apply gap-6 dark:bg-gray-900 lg:grid lg:grid-cols-12;
  }
  .video-player {
    @apply rounded dark:bg-gray-500 lg:col-span-5;
  }
  /*videeolist*/
}

@layer utilities {
    .container {
        @apply mx-auto max-w-screen-2xl px-6;
    }
  
}

html,body{
    @apply font-normal;
}